{% block content %}
<table>
  <tr>
    <td><b>{{ "src" }}</b></td>
    <td><b>{{ "Hakuna" }}</b></td>
    <td><b>{{ "Matata" }}</b></td>
    <td><b>{{ "Farbe" }}</b></td>
  </tr>
  {% for src, Hakuna in desc_dict.items() %}
    <tr>
      <td>{{ src }}</td>
      {% for Hakuna, Matata in Hakuna.items() %}
        <td>{{ Hakuna }}</td>
        {% for Matata, Farbe in Matata.items() %}
        <td>{{ Matata }}</td>
        <td>{{ Farbe }}</td>
        {% endfor %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>
{% endblock content %}