{% extends "layout.html" %}
{% block content %}
    <script src="{{ url_for('static', filename='javascript/map.js')}}" type="text/javascript"></script>
    
    <div id="mapdiv" style="width: 600px; height: 400px;"></div>
    
    <script>create_map({});</script>
    
    <div id="legenddiv"></div>

    {% for key, val in button_dict.items() %}
        <button type="button" class="btn btn-secondary btn-sm" onclick="create_map({{ val }})">{{ key }} Map</button>
    {% endfor %}
    <br>
    <br>
    <a class="btn btn-primary" role="button" href="{{ url_for('about') }}">About</a>
{% endblock content %}